.nav {
  display: flex;
  margin: auto auto;
  font-size: 2vh;
  text-align: center;
}
.symbols {
  display: flex;
  /* margin: auto 0; */
  width: 150px;
  position: relative;
  left: 13%;
  top: 20px;
}
.symbolImage {
  width: 30px;
  height: 30px;
}
.crowdy {
  color: #00705b;
}
.homelink {
  position: relative;
  top: 20px;
  left: 15%;
}
.magazinelink {
  position: relative;
  top: 20px;
  left: 18%;
}
.inquirelink {
  position: relative;
  top: 20px;
  left: 21%;
}
